/* GENERAL*/

@font-face {
  font-family: "Lato";
  src: url('../police/Lato-Regular.ttf');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  src: url('../police/Lato-Italic.ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url('../police/Lato-Bold.ttf');

}

body {
  font-family: 'Lato', sans-serif;
  background: #a2e0f8
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
#container{
  margin: 0 auto;
  width: 1000px;
  background: #ededed;
  height: 500px;
}


/*********************nav*****************/
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body{
  font-family: 'lato', sans-serif;
}

.navigationCheckbox{
  display: none;
}
.navigationBg{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#00b5cc,#0d71f3);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);

}
.navigationBtn{
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
}
.navigationIcon {
  position: relative;
  margin-top: 3.5rem;
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigationIcon::before,
.navigationIcon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigationIcon::before {
  top: -.8rem;
}

.navigationIcon::after {
  top: .8rem;
}


.nav {
  height: 100vh;
  position: fixed;
  width: 0;
  opacity: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.navigationListe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%;
}


.liens {
  display: inline-block;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;

}


.navigationCheckbox:checked ~ .navigationBg {
  transform: scale(80);
}


.navigationCheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}


.navigationCheckbox:checked+ .navigationBtn .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked+ .navigationBtn .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigationCheckbox:checked+ .navigationBtn .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}
/****************** effet text***********************/

.title{
  position: relative;

}
.title span{
  color: orangered;
  font-size: 75px;
    transition: 0.5s;
    font-weight: 100;
    will-change:transform;
    display:inline-block ;

}
.s1 span{
  transform-origin: bottom;

}
.s2 span{
  transform-origin: top;
  transform: translateY(100%)
  rotateX(90deg) ;
}
.s2 {
  position: absolute;
  top: 0;
  left: 0;
}
.title:hover .s1 span{
  transform: translateY(-100%)
  rotateX(-90deg)

}
.title:hover .s2 span{
  transform: translateY(0%)
  rotateX(0deg)

}
